<div class="page-header page-heading">
  <h1 class="pull-left">TAG</h1>
  <div class="clearfix"></div>
</div>
<div ng-show="error" class="alert alert-warning alert-dismissible row" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Sorry</strong> {{error.message}}
</div>
<button ng-show="isLoggedIn()" type="button" class="btn btn-primary btn-md pull-right" ng-click="add()">
  <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs hidden-sm"> Add</span>
</button>
<div ng-hide="isLoggedIn()">
  <h5>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add stuff.</h5>
</div>
<label>Whitelist</label>
<input type="text" class="form-control" ng-model="search" /><br />
<button class="btn btn-default" ng-click="getMatch()"><span class="glyphicon glyphicon-search"></span> Search</button>
<hr />
<ul>
  <li ng-repeat="url in urls">
    {{url}}
  </li>
</ul>